* {
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

body {
  background-color: #e7efec;
  font-family: 'Montserrat', sans-serif;
  &::-webkit-scrollbar {
    width: 0px;
    background-color: rgba(255, 255, 255, 0);
  }
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  flex-direction: column;
}